<% provide(:title, "Home") %>
<h1>Welcome to Wildlife Observation Crowd App</h1>
<p>

  <a href="/sightings/new">Report a sighting</a>

</p>

<p>
  
  Or <a href="/species">Visit our roster of observed species</a>
  
</p>