<style>
body{
  background-color: #b3ffb3;
}

</style>

<%= render 'layouts/logo' %>
<% provide(:title, "Home") %>
<h1>Welcome to Wildlife Observation Crowd App</h1>

  
  <h2>Menu</h2>
  <%= render 'layouts/header' %>
  <ul>
    <li><a href="/species">Visit our roster of observed species</a></li>
    <li><a href="/sightings">View all species sightings</a></li>
  </ul>
  
