<table width="100%" border="1">
<thead>
<tr>
<th width="20%">Common Name</th>
<th width="20%">Generic Name</th>
<th width="20%">Species Name</th>
<th width="40%"></th>
</tr>
</thead>
<tbody>
<%= render @species %>
</tbody>
</table>