


<% if signed_in? %>
       Signed in: <%= session[:user_id] %>
       <b><li><a href="/"> Home </a></li></b>
       <b><li><a href="/species/new">List a new species</a></li></b>
       <b><li><a href="/sightings/new">Report a sighting</a></li></b>
       <b><li><a href="/mysightings">My sightings</a></li></b>
       <b><li><%= link_to "Log out", signout_path, method: "delete" %></li></b>
    <% else %>
   
    <b><li><a href="/signup">Sign up (Create user acct for W.O.C.A.)</a></li></b>
    <b><li><a href="/signin">Sign in</a></li></b>
    <% end %>